# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Python environment
.Python
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Testing / coverage
.tox/
.coverage
.pytest_cache/
htmlcov/
.mypy_cache/
.dmypy.json
dmypy.json
__screenshots__/

# Django / project files
media/
staticfiles/
db.sqlite3

# Celery
celerybeat-schedule
celerybeat-schedule-wal

# Logs
logs
*.log

# Node / frontend
node_modules
dist
dist-ssr
coverage
*.local

# Cypress
/cypress/videos/
/cypress/screenshots/

# Editor / IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.spyderproject
.spyproject
.ropeproject
/site
.DS_Store

# TypeScript
*.tsbuildinfo

# ESLint
.eslintcache

